Repository sm4rtm4art/LLM_Rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-local, bandit-check, test-bash-scripts

mypy-local:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --follow-imports=skip

bandit-check:
  name: Security check with Bandit
  entry: bandit
  language: system
  args:
  - -r
  - src/
  - -c
  - pyproject.toml
  pass_filenames: false
  stages:
  - pre-commit

test-bash-scripts:
  name: Test Bash Scripts
  entry: scripts/test_bash_scripts.sh
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Replace custom safety hook with dedicated pre-commit-hooks-safety
  .pre-commit-config.yaml
Due: none

Add Rich test runner with dedicated README and proper dependencies
  .github/scripts/README_TEST_RUNNER.md
  .github/scripts/run_tests.py
  .github/scripts/test.sh
  .safety-project.ini
  README.md
  pyproject.toml
  scripts/run_tests.py
Due: bandit-check

Fix test runner for GitHub Actions compatibility
  .github/scripts/test.sh
  .github/workflows/ci-cd.yml
Due: none

Fix safety pre-commit hook to use local implementation compatible with our project
  .pre-commit-config.yaml
Due: none

Optimize CI/CD workflow to prevent disk space issues with Docker build
  .github/workflows/ci-cd.yml
Due: none

Add pre-cleanup and post-cleanup jobs to workflow for better runner preparation and security
  .github/workflows/ci-cd.yml
  .safety-project.ini
  docker-compose.ci.yml
Due: none

Fix clean-after-action parameters in post-cleanup job
  .github/workflows/ci-cd.yml
Due: none

Add pre-cleanup and post-cleanup jobs and fixting the docker issue
  .github/workflows/ci-cd.yml
Due: none

fix: docker fix
  .github/workflows/ci-cd.yml
Due: none

fix: ci/cd premissions for docker
  .github/workflows/ci-cd.yml
  REFACTORING_PLAN.md
  REFACTORING_SUMMARY.md
Due: none

fix: ci/cd premissions for docker
  .github/workflows/ci-cd.yml
  Dockerfile
  REFACTORING_PLAN.md
  REFACTORING_SUMMARY.md
Due: none

fix: ci/cd premissions for docker
  Dockerfile
Due: none

orc intruduction as a fixt part of the developement
  .cursor/rules/.cursorrules
  Dockerfile
  EXPANSION_PLAN.md
  REFACTORING_PLAN.md
  demos/demo_llm_rag.py
  docker-compose.yml
  pyproject.toml
  src/llm_rag/document_processing/loaders/__init__.py
  src/llm_rag/document_processing/ocr/OCR_GUIDE.md
  src/llm_rag/document_processing/ocr/README.md
  src/llm_rag/document_processing/ocr/__init__.py
  src/llm_rag/document_processing/ocr/ocr_engine.py
  src/llm_rag/document_processing/ocr/pdf_converter.py
  start_prompt_13_04_2025
  tests/document_processing/ocr/test_ocr_engine.py
  tests/document_processing/ocr/test_pdf_converter.py
  uv.lock
Due: mypy-local, bandit-check

Fix test_ocr_engine.py imports and skip failing tests
  tests/document_processing/ocr/test_ocr_engine.py
Due: mypy-local, bandit-check

Fix OCR tests by skipping failing tests
  tests/document_processing/ocr/test_pdf_converter.py
Due: mypy-local, bandit-check

Skip failing PDF converter tests
  tests/document_processing/ocr/test_pdf_converter.py
Due: mypy-local, bandit-check

Fix PDF converter implementation and tests
  src/llm_rag/document_processing/ocr/pdf_converter.py
  tests/document_processing/ocr/test_pdf_converter.py
Due: mypy-local, bandit-check

Fixed security issues with MD5 hash and lint warnings
  demos/document_comparison/DOCUMENT_COMPARISON_DEMO.md
  demos/document_comparison/README.md
  demos/document_comparison/comparison_result.md
  demos/document_comparison/demo_comparison.py
  demos/document_comparison/demo_doc1.md
  demos/document_comparison/demo_doc2.md
  src/llm_rag/document_processing/comparison/__init__.py
  src/llm_rag/document_processing/comparison/alignment.py
  src/llm_rag/document_processing/comparison/comparison_engine.py
  src/llm_rag/document_processing/comparison/diff_formatter.py
  src/llm_rag/document_processing/comparison/document_parser.py
  src/llm_rag/document_processing/comparison/pipeline.py
  src/llm_rag/document_processing/ocr/__init__.py
  src/llm_rag/document_processing/ocr/ocr_engine.py
  src/llm_rag/document_processing/ocr/pdf_converter.py
  src/llm_rag/document_processing/ocr/pipeline.py
  src/llm_rag/utils/errors.py
  tests/document_processing/comparison/test_document_parser.py
  tests/document_processing/ocr/test_integration.py
  tests/document_processing/ocr/test_pdf_converter.py
  tests/document_processing/ocr/test_pipeline.py
Due: mypy-local, bandit-check

Fix compatibility issues in tests for OCR engine
  src/llm_rag/document_processing/ocr/ocr_engine.py
  tests/document_processing/ocr/test_pdf_converter.py
Due: mypy-local, bandit-check

Fix TesseractOCREngine to accept config parameter for compatibility with tests
  src/llm_rag/document_processing/ocr/ocr_engine.py
Due: mypy-local, bandit-check

Fix OCR engine and document parser tests
  src/llm_rag/document_processing/comparison/document_parser.py
  src/llm_rag/document_processing/ocr/ocr_engine.py
  src/llm_rag/document_processing/ocr/pdf_converter.py
Due: mypy-local, bandit-check

fixing the linter errors of the newly implementetd comparisson tool
  src/llm_rag/document_processing/comparison/document_parser.py
  src/llm_rag/document_processing/ocr/ocr_engine.py
  start_prompt_13_04_2025.md
  start_prompt_comparison_module.md
  tests/document_processing/comparison/test_document_parser.py
  tests/document_processing/ocr/integration_test_pdf_converter.py
Due: mypy-local, bandit-check

skipping the pdf's
  EXPANSION_PLAN.md
  run_ci_tests.sh
  start_prompt_comparison_module.md
  tests/document_processing/ocr/test_ocr_engine.py
  tests/document_processing/ocr/test_pdf_converter.py
Due: mypy-local, bandit-check

fix: Add rich package to CI dependencies
  .github/workflows/ci-cd.yml
Due: none

fix: Replace Rich progress bar with direct pytest call in CI
  .github/scripts/test.sh
Due: none

fix: Replace Rich progress bar with direct pytest call in CI
  .github/workflows/ci-cd.yml
Due: none

fix: Install Tesseract OCR in CI and downgrade codecov action
  .github/workflows/ci-cd.yml
Due: none

Implement OCR pipeline with LLM cleaning (Phase 1-3). Add OCR pipeline with text extraction, preprocessing, and LLM-based cleaning. Update progress in EXPANSION_PLAN.md
  EXPANSION_PLAN.md
  src/llm_rag/document_processing/ocr/__init__.py
  src/llm_rag/document_processing/ocr/llm_cleaning_example.py
  src/llm_rag/document_processing/ocr/llm_processor.py
  src/llm_rag/document_processing/ocr/output_formatter.py
  src/llm_rag/document_processing/ocr/pipeline.py
  src/llm_rag/models/factory.py
  start_prompt_13_04_2025.md
Due: mypy-local, bandit-check

Fix linting issues: improve exception handling, fix line length, use imperative mood in docstrings
  .github/workflows/ci-cd.yml
  @start_prompt_13_04_2025.md
  EXPANSION_PLAN.md
  README_OCR_IMPROVEMENTS.md
  output/ocr/basic/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/enhanced/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/with_llm/markdown/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/with_llm/markdown/VDE_0712-30_A101_E__DIN_IEC_61347-1_A101__2006-01.md
  output/ocr/without_llm/markdown/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr_eval/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_basic.txt
  output/ocr_eval/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_enhanced.txt
  output/ocr_evaluation/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_basic.txt
  output/ocr_evaluation/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_enhanced.txt
  output/ocr_md/basic/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr_md/enhanced/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  pyproject.toml
  src/llm_rag/document_processing/llama_index_chunking.py
  src/llm_rag/document_processing/ocr/OCR_GUIDE.md
  src/llm_rag/document_processing/ocr/README.md
  src/llm_rag/document_processing/ocr/evaluation.py
  src/llm_rag/document_processing/ocr/evaluation_example.py
  src/llm_rag/document_processing/ocr/example.py
  src/llm_rag/document_processing/ocr/language_examples.py
  src/llm_rag/document_processing/ocr/llm_processor.py
  src/llm_rag/document_processing/ocr/optimization_examples.py
  src/llm_rag/document_processing/ocr/optimized_pipeline.py
  src/llm_rag/document_processing/ocr/pdf_converter.py
  src/llm_rag/document_processing/ocr/pipeline.py
  start_prompt_13_04_2025.md
  start_prompt_comparison_module.md
  tests/document_processing/ocr/test_language_handling.py
  tests/document_processing/ocr/test_optimized_pipeline.py
  tests/document_processing/ocr/test_optimized_pipeline_benchmark.py
  tests/document_processing/ocr/test_pipeline.py
  tests/document_processing/test_loaders_integration.py
  tests/integration/document_processing/test_loader_api.py
  tests/unit/document_processing/test_loaders_module.py
  uv.lock
Due: mypy-local, bandit-check

Add output directory to gitignore while preserving structure
  .gitignore
  output/ocr/.gitkeep
  output/ocr_eval/.gitkeep
  output/ocr_evaluation/.gitkeep
  output/ocr_md/.gitkeep
Due: none

Remove output directory content but keep structure with .gitkeep files
  output/ocr/basic/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/enhanced/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/with_llm/markdown/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr/with_llm/markdown/VDE_0712-30_A101_E__DIN_IEC_61347-1_A101__2006-01.md
  output/ocr/without_llm/markdown/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr_eval/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_basic.txt
  output/ocr_eval/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_enhanced.txt
  output/ocr_evaluation/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_basic.txt
  output/ocr_evaluation/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04_enhanced.txt
  output/ocr_md/basic/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
  output/ocr_md/enhanced/VDE_0636-3_A2_E__DIN_VDE_0636-3_A2__2010-04.md
Due: none

Fix tests: correct attribute names and import paths
  src/llm_rag/document_processing/ocr/optimized_pipeline.py
  tests/document_processing/ocr/test_optimized_pipeline_benchmark.py
Due: mypy-local, bandit-check

Fix test_parallel_vs_sequential_performance by updating speedup threshold and improving test stability
  src/llm_rag/document_processing/ocr/optimized_pipeline.py
  tests/document_processing/ocr/test_optimized_pipeline.py
  tests/document_processing/ocr/test_optimized_pipeline_benchmark.py
Due: mypy-local, bandit-check

Make benchmark tests more resilient to environmental variations
  tests/document_processing/ocr/test_optimized_pipeline_benchmark.py
Due: mypy-local, bandit-check

fix: Dockerfile update
  Dockerfile
Due: none

fix: pytest test_full_pipeline.py
  output/.gitkeep
  output/ocr/basic/.gitkeep
  output/ocr/enhanced/.gitkeep
  output/ocr/with_llm/.gitkeep
  output/ocr/with_llm/markdown/.gitkeep
  output/ocr/without_llm/.gitkeep
  output/ocr/without_llm/markdown/.gitkeep
  output/ocr_md/basic/.gitkeep
  output/ocr_md/enhanced/.gitkeep
  tests/e2e/test_full_pipeline.py
Due: mypy-local, bandit-check

fix: pytest test_full_pipeline.py
  tests/e2e/test_full_pipeline.py
Due: mypy-local, bandit-check

fix: pytest test_full_pipeline.py
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

fix: pytest test_full_pipeline.py
  .github/workflows/ci-cd.yml
Due: none

fix: ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  mypy-local: any of: ^(src|tests)/.*\.py$ and \.py$ and not ((?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$
)
  bandit-check: any of: \.py$, but not: (?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$

  test-bash-scripts: any of: ^scripts/.*\.sh$, but not: (?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$

