Repository sm4rtm4art/LLM_Rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-local, bandit-check, test-bash-scripts

Path conditions:
  mypy-local: any of: ^(src|tests)/.*\.py$ and \.py$ and not ((?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$
)
  bandit-check: any of: \.py$, but not: (?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$

  test-bash-scripts: any of: ^scripts/.*\.sh$, but not: (?x)^(

  \.llm_rag/.*|
  __pycache__/.*|
  .*\.pyc|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.mypy_cache/.*|
  .*\.egg-info/.*
)$


fix: ci-cd.yml and tivy upgrade for caching
  .github/workflows/ci-cd.yml
  .github/workflows/security-scan.yml
Due: none

fix: Docker
  Dockerfile
Due: none

Delete @start_prompt_13_04_2025.md
  @start_prompt_13_04_2025.md
Due: none

Delete start_prompt_13_04_2025.md
  start_prompt_13_04_2025.md
Due: none

Add .cursor files to gitignore
  .gitignore
Due: none

Remove .cursor directory from Git tracking
  .cursor/rules/.cursorrules
Due: none

Delete start_prompt_comparison_module.md
  start_prompt_comparison_module.md
Due: none

Not fully tested Makefile, but it is a Makefile
  .github/workflows/ci-cd.yml
  .gitignore
  EXPANSION_PLAN.md
  Makefile
  README.md
  entrypoint.sh
  pyproject.toml
  src/llm_rag/document_processing/comparison/comparison_engine.py
  src/llm_rag/document_processing/comparison/diff_formatter.py
  src/llm_rag/document_processing/comparison/document_parser.py
  src/llm_rag/document_processing/comparison/pipeline.py
  src/llm_rag/document_processing/ocr/evaluation.py
  start_prompt_comparison_module.md
  tests/document_processing/comparison/__init__.py
  tests/document_processing/comparison/test_comparison_engine.py
  tests/document_processing/ocr/test_output_formatter.py
Due: mypy-local, bandit-check

Not fully tested Makefile, but it is a Makefile
  src/llm_rag/document_processing/comparison/__init__.py
  tests/unit/document_processing/test_chunking.py
Due: mypy-local, bandit-check

Not fully tested Makefile, but it is a Makefile
  pyproject.toml
  tests/document_processing/comparison/test_comparison_engine.py
  tests/unit/document_processing/test_unit_chunking.py
Due: mypy-local, bandit-check

Not fully tested Makefile, but it is a Makefile
  src/llm_rag/document_processing/comparison/comparison_engine.py
Due: mypy-local, bandit-check

Update Makefile for cross-platform compatibility and fix exception handling in document_parser
  Makefile
  src/llm_rag/document_processing/comparison/document_parser.py
Due: mypy-local, bandit-check

Remove start prompt files from Git tracking
  start_prompt_comparison_module.md
Due: none

Not fully tested Makefile, but it is a Makefile
  .github/workflows/ci-cd.yml
Due: none

fix: Ci-cd.yaml
  .github/workflows/ci-cd.yml
Due: none

fix: Ci-cd.yaml
  .dockerignore
  .github/workflows/ci-cd.yml
  Dockerfile
  entrypoint.sh
Due: none

fix: Makefile
  Makefile
Due: none

fix: Dockerbuildx
  .github/workflows/ci-cd.yml
  Makefile
Due: none

fix: ci-cd user run error
  .github/workflows/ci-cd.yml
Due: none

fix: ci-cd user run error
  .github/workflows/ci-cd.yml
  .vscode/settings.json
Due: none

fix: ci-cd user run error
  .github/workflows/ci-cd.yml
  Makefile
Due: none

fix: ci-cd user run error
  .github/workflows/ci-cd.yml
  Makefile
  pyproject.toml
Due: none

Fix: ci-cd with failing user run issue
  .github/workflows/ci-cd.yml
Due: none

upgrade: container scan and trivy container
  .github/trivy-container.yml
  .github/workflows/container-scan.yml
  Dockerfile
Due: none

upgrade ; kubernetes cluster and test files
  .github/workflows/k8s-test.yaml
  k8s/README.md
  k8s/clusters/deploy-dev.sh
  k8s/clusters/deploy-prod.sh
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/env-configmap.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/kind-config.yaml
  k8s/kustomization.yaml
  k8s/network-policy.yaml
  k8s/overlays/dev/deployment-patch.yaml
  k8s/overlays/dev/hpa-patch.yaml
  k8s/overlays/dev/ingress.yaml
  k8s/overlays/dev/kustomization.yaml
  k8s/overlays/production/deployment-patch.yaml
  k8s/overlays/production/hpa-patch.yaml
  k8s/overlays/production/ingress.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/overlays/production/pdb.yaml
  k8s/overlays/production/service-patch.yaml
  k8s/service.yaml
  k8s/test-script.sh
Due: none

upgrade ; kubernetes cluster and test files
  .github/workflows/container-scan.yml
Due: none

upgrade ; kubernetes cluster and test files
  .github/workflows/k8s-test.yaml
  .pre-commit-config.yaml
  k8s/kind-config.yaml
  scripts/test_kubernetes.sh
Due: test-bash-scripts

Fix mixed tabs and spaces errors by adding E101 to ruff ignore list
  pyproject.toml
  src/llm_rag/document_processing/comparison/__init__.py
  src/llm_rag/document_processing/comparison/alignment.py
  src/llm_rag/document_processing/comparison/comparison_engine.py
  src/llm_rag/document_processing/comparison/diff_formatter.py
  src/llm_rag/document_processing/comparison/document_parser.py
  src/llm_rag/document_processing/comparison/pipeline.py
  tests/document_processing/comparison/test_comparison_engine.py
  tests/document_processing/comparison/test_document_parser.py
Due: mypy-local, bandit-check

Fix mock embeddings for CI/CD to create deterministic content-based vectors
  src/llm_rag/vectorstore/chroma.py
Due: mypy-local, bandit-check

Improve test_vector_store test with better diagnostics and more specific phrase checking
  tests/e2e/test_full_pipeline.py
Due: mypy-local, bandit-check

giving k8s a minimal dockerfile
  .github/workflows/k8s-test.yaml
  Dockerfile.k8s-test
  k8s/test-utils/KUBERNETES_TEST_UTILS.md
  k8s/test-utils/mock_api.py
Due: bandit-check

fix: fixing trivy security scan
  .github/workflows/ci-cd.yml
  .github/workflows/security-scan.yml
Due: none

fix: fixing kind server
  .github/workflows/k8s-test.yaml
  k8s/service.yaml
  kind-simple.yaml
  setup-env.sh
Due: none

fix: fixing kind server
  .github/workflows/k8s-test.yaml
  k8s/kind-ci-minimal.yaml
  k8s/service.yaml
Due: none

tests update for coverage
  EXPANSION_PLAN.md
  src/llm_rag/document_processing/comparison/alignment.py
  src/llm_rag/document_processing/comparison/diff_formatter.py
  src/llm_rag/document_processing/comparison/document_parser.py
  tests/document_processing/comparison/test_alignment.py
  tests/document_processing/comparison/test_comparison_pipeline.py
  tests/document_processing/comparison/test_diff_formatter.py
  tests/document_processing/comparison/test_document_parser.py
Due: mypy-local, bandit-check
